{
  "arrowParens": "always",
  "bracketSpacing": true,
  "parser": "typescript",
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxBracketSameLine": true
}
